@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/PPNeueMontreal-Thin.otf") format("otf");
  }

  @font-face {
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/PPNeueMontreal-Book.otf") format("otf");
  }

  @font-face {
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/PPNeueMontreal-Medium.otf") format("otf");
  }

  @font-face {
    font-family: "Neue Montreal";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/PPNeueMontreal-Bold.otf") format("otf");
  }

  @font-face {
    font-family: "Graphik LCG";
    src: url("./assets/fonts/GraphikLCG-Black.eot");
    src: local("Graphik LCG Black"), local("GraphikLCG-Black"),
      url("./assets/fonts/GraphikLCG-Black.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/GraphikLCG-Black.woff2") format("woff2"),
      url("./assets/fonts/GraphikLCG-Black.woff") format("woff"),
      url("./assets/fonts/GraphikLCG-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik LCG";
    src: url("./assets/fonts/GraphikLCG-Super.eot");
    src: local("Graphik LCG Super"), local("GraphikLCG-Super"),
      url("./assets/fonts/GraphikLCG-Super.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/GraphikLCG-Super.woff2") format("woff2"),
      url("./assets/fonts/GraphikLCG-Super.woff") format("woff"),
      url("./assets/fonts/GraphikLCG-Super.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik LCG";
    src: url("./assets/fonts/GraphikLCG-Thin.eot");
    src: local("Graphik LCG Thin"), local("GraphikLCG-Thin"),
      url("./assets/fonts/GraphikLCG-Thin.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/GraphikLCG-Thin.woff2") format("woff2"),
      url("./assets/fonts/GraphikLCG-Thin.woff") format("woff"),
      url("./assets/fonts/GraphikLCG-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik LCG";
    src: url("./assets/fonts/GraphikLCG-Regular.eot");
    src: local("Graphik LCG Regular"), local("GraphikLCG-Regular"),
      url("./assets/fonts/GraphikLCG-Regular.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/GraphikLCG-Regular.woff2") format("woff2"),
      url("./assets/fonts/GraphikLCG-Regular.woff") format("woff"),
      url("./assets/fonts/GraphikLCG-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik LCG";
    src: url("./assets/fonts/GraphikLCG-Medium.eot");
    src: local("Graphik LCG Medium"), local("GraphikLCG-Medium"),
      url("./assets/fonts/GraphikLCG-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/GraphikLCG-Medium.woff2") format("woff2"),
      url("./assets/fonts/GraphikLCG-Medium.woff") format("woff"),
      url("./assets/fonts/GraphikLCG-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik LCG";
    src: url("./assets/fonts/GraphikLCG-Light.eot");
    src: local("Graphik LCG Light"), local("GraphikLCG-Light"),
      url("./assets/fonts/GraphikLCG-Light.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/GraphikLCG-Light.woff2") format("woff2"),
      url("./assets/fonts/GraphikLCG-Light.woff") format("woff"),
      url("./assets/fonts/GraphikLCG-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik LCG";
    src: url("./assets/fonts/GraphikLCG-Semibold.eot");
    src: local("Graphik LCG Semibold"), local("GraphikLCG-Semibold"),
      url("./assets/fonts/GraphikLCG-Semibold.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/GraphikLCG-Semibold.woff2") format("woff2"),
      url("./assets/fonts/GraphikLCG-Semibold.woff") format("woff"),
      url("./assets/fonts/GraphikLCG-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik LCG";
    src: url("./assets/fonts/GraphikLCG-Bold.eot");
    src: local("Graphik LCG Bold"), local("GraphikLCG-Bold"),
      url("./assets/fonts/GraphikLCG-Bold.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/GraphikLCG-Bold.woff2") format("woff2"),
      url("./assets/fonts/GraphikLCG-Bold.woff") format("woff"),
      url("./assets/fonts/GraphikLCG-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Graphik LCG";
    src: url("./assets/fonts/GraphikLCG-Extralight.eot");
    src: local("Graphik LCG Extralight"), local("GraphikLCG-Extralight"),
      url("./assets/fonts/GraphikLCG-Extralight.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/GraphikLCG-Extralight.woff2") format("woff2"),
      url("./assets/fonts/GraphikLCG-Extralight.woff") format("woff"),
      url("./assets/fonts/GraphikLCG-Extralight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
  }

  body {
    @apply font-body;
  }
}

@layer components {
  @keyframes marquee {
    from {
      transform: translateX(0); /*NOT WORKING: "translate-x-0" */
    }
    to {
      transform: translateX(-100%); /*NOT WORKING: "-translate-x-full" */
    }
  }

  .marquee {
    --duration: 60s;
    @apply flex whitespace-nowrap;
    @apply py-[0.75rem];
    @apply select-none overflow-hidden;

    & > * {
      @apply inline-block animate-[marquee_var(--duration)_linear_infinite];
    }

    & > * > *::before {
      @apply content-[""] inline-block w-[0.5rem] h-[0.5rem] bg-light rounded-full mx-[0.75rem] align-middle;
    }
  }
}
