@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }

  ;
}

.marquee {
  --duration: 60s;

  padding: 0.75rem;
  text-wrap: nowrap;
  user-select: none;
  overflow: hidden;

  &>* {
    display: inline-block;
    animation: marquee var(--duration) linear infinite;
  }

  &>*> ::before {
    --radius: 0.5rem;

    content: "";
    display: inline-block;
    width: var(--radius);
    height: var(--radius);
    background-color: $light;
    border-radius: 50%;
    margin: auto 0.75rem;
  }
}